#typex-input {
    width: 350px;
    height: 36px;
    font-size: 20px;
    color: var(--color-05);
    border: 2px solid var(--color-02);
    transition: var(--transition);
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    margin: 0 10px;
}
#typex-input::placeholder {
    color: var(--color-05);
}

#typex-input:focus, #typex-input:hover {
    border: 2px solid var(--color-07);
    color: var(--color);
    outline: none;
}