.typex-word {
    padding: 5px 10px;
    text-align: center;
    margin: 4px;
    border-radius: 5px;
}

.typex-word.correct {
    background-color: rgba(0, 255, 0, 0.2);
}
.typex-word.incorrect {
    background-color: rgba(255, 0, 0, 0.2);
}
.typex-word.incorrect {
    background-color: rgba(255, 0, 0, 0.2);
}
.typex-word.warning {
    background-color: rgba(255, 255, 0, 0.2);
}
.typex-word.current {
    background-color: var(--color-015);
}
.typex-word.default {
    background-color: var(--color-005);
}