#typex-speed {
    color: var(--color);
    background-color: var(--bg-color);
    border-radius: 5px;
    width: 100px;
    height: 36px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}